*~
misc
var
.DS_Store
pyim
bookmarks
etwork-security.data
elpa
tramp
recentf
.session
company-statistics-cache.el
custom-set-variables.el
ido.last
emms
auto-save-list
eshell
history
network-security.data
places
image-dired
